<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeagueOfStats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3359D8661E538B6C002707E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3359D87A1E538B6D002707E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3359D8851E538B6D002707E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
